body {
  padding: 50px;
  font-family: 'Rye', cursive;
  color: #ff9922;
  background-image: url("/harry_potter01.png");
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: darkred;
}

#menu {
  width: 220px;
  display: flex;
  margin: 0 auto;
}

.menu-item {
  display: inline-block;
  flex-grow: 3;
}

#logo {
  text-align: center;
}

#student-wrapper {
  margin-left: 300px;
}
.student {
  border: 8px double;
  margin: 0 35px 35px 0;
  padding: 35px;
  width: 200px;
  display: inline-block;
}

.form-el {
  margin: 20px 0;
}

.form-wrapper .form-el input[type="submit" i] {
  margin-left: 180px;
}

.form-wrapper .form-el label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  margin: 0 1em 0 0;
}
